@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nosifer&display=swap");

:root {
  --primary-color: white;
  --secondary-color: #39cdcc;
  --accent-color: #213f7d;
  --text-color: #2e2e2e;
  --alt-secondary-color: #7a8cb1;

  --step--1: clamp(0.9375rem, 0.9158rem + 0.1087vw, 0.8rem);
  --step-0: 1.2rem;
  --step-1: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
  --step-2: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
  --step-3: clamp(1.944rem, 1.771rem + 0.8651vw, 2.4414rem);
  --step-4: clamp(2.3328rem, 2.0827rem + 1.2504vw, 3.0518rem);
  --step-5: clamp(2.7994rem, 2.4462rem + 1.7658vw, 3.8147rem);

  --gap: 1rem;
  --large-gap: clamp(6.75rem, 6.4891rem + 1.3043vw, 7.5rem);
  --radius: 5px;
  --padding-min: 1rem;
  --padding: clamp(2rem, 4vw, 3rem);
}
* {
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

::before,
::after {
  content: "";
  position: absolute;
  box-sizing: border-box;
}

input {
  display: block;
  font-size: var(--step--1);
  padding: 0.5rem 1rem;
  color: var(--text-color);

  &:focus {
    outline: 1px ridge var(--secondary-color);
  }
}

button {
  background-color: var(--secondary-color);
  font-size: var(--step--1);
  padding: 0.5rem 1rem;
  color: var(--primary-color);
  cursor: pointer;
  border: none;
}
/* 
::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-thumb {
  background: var(--alt-secondary-color);
}

/* Hover effect */
::-webkit-scrollbar-thumb:hover {
  background: #2563eb;
}
*/ .icon {
  color: var(--alt-secondary-color);
}

.mobile_header_items {
  display: none;

  @media (width < 992px) {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

nav {
  @media (width > 992px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
  }
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
